.weather-summary {
    position: relative;
}

.weather-summary > *{
    vertical-align: middle;
}

.weather-summary > b {
    padding-right: 5px;
}

.weather-summary > span {
    padding-right: 5px;
}

.weather-summary img {
    margin-left: 20px;
    margin-right: 10px;
}

.day-controls {
    position: absolute;
    top: 13px;
    right: 20px;
}
