.header {
    padding: 20px 20px 0 20px;
}

.logo {
    position: absolute;
    right: 20px;
    top: 20px;
}

.weather-summary {
    position: relative;
}

.day-controls {
    position: absolute;
    top: 13px;
    right: 20px;
}

.forecast {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 0 10px;
}

.forecast__day {
    text-align: center;
    border: 1px solid #ececec;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.forecast__day:hover,
.forecast__day--active {
    background: #f7f7f7;
    box-shadow: 0px 0px 7px rgba(0,0,0,.3)
}

.forecast__day-title {
    font-size: 18px;
}

.forecast__day-desc {
    font-size: 14px;
    min-height: 50px;
}

.forecast__day-min {
    color: #2986f9;
    font-weight: bold;
    font-size: 16px;
}

.forecast__day-max {
    color: #ff5724;
    font-weight: bold;
    font-size: 16px;
}

.forecast-details table {
    width: 100%;
}

.forecast-details table th,
.forecast-details table td {
    font-size: 12px;
    padding: 5px;
}

.forecast-details {
    padding: 20px;
}

.forecast-details table th {
    font-weight: normal;
    font-style: italic;
}

.forecast-details table tr:nth-child(odd) td {
    background-color: #f1f1f1;
}

.forecast-details table td {
    border-right: 1px solid #dedede;
}

.header__search {
    padding: 20px 20px 0 20px;
}

.header__search input {
    width: 33%;
    margin-right: 10px;
    border: 1px solid #dedede;
    height: 38px;
    border-radius: 3px;
    vertical-align: middle;
    padding-left: 10px;
}

.header__search input:focus {
    border: 1px solid #ccc;
}

.map {
    height: 600px;
    position: relative;
}

.forecast-filter {
    padding: 20px;
}

.select__menu {
    z-index: 9999!important;
}