

.logo {
    position: absolute;
    right: 20px;
    top: 20px;
}



.forecast-details table {
    width: 100%;
}

.forecast-details table th,
.forecast-details table td {
    font-size: 12px;
    padding: 5px;
}

.forecast-details {
    padding: 20px;
}

.forecast-details table th {
    font-weight: normal;
    font-style: italic;
}

.forecast-details table tr:nth-child(odd) td {
    background-color: #f1f1f1;
}

.forecast-details table td {
    border-right: 1px solid #dedede;
}



.map {
    height: 600px;
    position: relative;
}

.filter-heading {
    padding: 20px 20px 0 20px;
    font-size: 21px;
    font-weight: bold;
}

.forecast-filter {
    padding: 20px 20px 0 20px;
}

.select__menu {
    z-index: 9999!important;
}

@media screen and (max-width: 1024px) {
    .header__search input {
        width: 100%;
    }

    .day-controls {
        position: static;
        padding: 10px;
    }

    .weather-summary {
        padding: 10px;
    }

    .forecast {
        flex-direction: column;
    }

    .forecast__day {
        margin: 10px 0;
    }

    .forecast-details {
        overflow: scroll;
    }
}